/* GLOBAL */
a{
    text-decoration: none;    
}
a:hover{
    background: beige;
}

/* JUMBOTRON */
.jum {
    background-color: #056;
    color: white;
    padding: 50px;
} 
.jum-img {
    width: 90px;
}

/* NAVBAR */
.nab{
    background-color: #056;
    color: white;
}

a:hover{
    color: rgb(219, 96, 25);

}

/* CAROUSEL */
.img-carousel {
        object-fit: cover;
        object-position: 0 70%;
        height: 450px;
}

/* AULA */
.titulo-aula {
    text-align: center;
    padding: 80px;
}
/* CARDS */
.cards{
    max-width: 30rem;
    max-height: 30rem;
}
.img-cards {
    object-fit: cover;

    height: 200px;
}
.titulo-cards {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    
}
.texto-cards {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.button-cards {
    display: flex;
    justify-content: center ;
}
/* FOOTER */
.footer-css {
    text-align: center;
}
